<div id="adobe-dc-view-2" class="adobe-dc-view-2" style="height: 780px; width: 100%; border: 1px solid #dadada;"></div>
<script src="https://documentservices.adobe.com/view-sdk/viewer.js"></script>
<script>
    document.addEventListener("adobe_dc_view_sdk.ready", function () {
        var adobeDCView = new AdobeDC.View({ clientId: "b7ab5453a30e4e62a4e5f22d4e211149", divId: "adobe-dc-view-2" });
        adobeDCView.previewFile(
            {
                content: { location: { url: "/assets/docs/{{ include.id }}" } },
                metaData: { fileName: "{{ include.id }}" }
            }, { defaultViewMode: "FIT_PAGE" });
    });
</script>